# PHP
alias phpunit="vendor/bin/phpunit"
alias pest="vendor/bin/pest"
alias a="php artisan"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias hostfile="sudo vim /etc/hosts"
alias nah='git reset --hard;git clean -df'
alias d="php artisan dusk"
alias sshconfig="vi ~/.ssh/config"
alias sail='./vendor/bin/sail'

# PHP Switch
alias switch-php80="brew unlink php@7.4 && brew link --overwrite --force php"
alias switch-php74="brew unlink php && brew link --overwrite --force php@7.4"

# Git
alias gc="git checkout"
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# List all files colorized in long format
alias l="ls -laF"


# Redis
alias flush-redis="redis-cli FLUSHALL"


# Enable aliases to be sudo’ed
alias sudo='sudo '


# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"
alias npmgithub="npm config set registry https://npm.pkg.github.com"

